<!--
  Generated template for the VehiculoDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalle vehiculo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>{{vehicule.nombre}}</h2>
  <div>
    <p>
      <b>Consumo por kilometro (ecovehiculos):</b> {{vehicule.rendimientoPorLitro}}</p>
    <p>
      <b>Transmision</b> {{vehicule.transmision}}</p>
    <p>
      <b>Combustible</b> {{vehicule.combustible}}</p>
    <p>
      <b>Año</b> {{vehicule.ano}}</p>
    <p>
      <b>NOX:</b> {{vehicule.emisionNOX}}</p>
  </div>
  <div>
    <ion-checkbox [(ngModel)]="isConsumoPersonalizado" [disabled]="isReadOnly"></ion-checkbox>Consumo personalizado
    <input type="number"  min="1" max="500" [(ngModel)]="consumoPersonalizado" [disabled]="isReadOnly">
  </div>

    <ion-fab bottom right >
      <button ion-fab  (click)="save()" [disabled]="isReadOnly" >
        <ion-icon ios="ios-add" md="md-add"></ion-icon>
      </button>
    </ion-fab>
</ion-content>