<!--
  Generated template for the MapaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar style="opacity: .8;">
    <button ion-button menuToggle>
      <ion-icon name="menu" style="z-index: 99999;opacity:1!important"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div id="mapa_canvas" style=" position: fixed;"></div>
  <ion-fab bottom right>
    <button ion-fab (click)="calculate()">
      <ion-icon ios="ios-send" md="md-send"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab bottom left>
    <button ion-fab>
      <ion-icon ios="ios-settings" md="md-settings"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab icon-only (click)="setPosition()">
        <ion-icon ios="ios-locate" md="md-locate"></ion-icon>
      </button>
      <button ion-fab icon-only (click)= "search()">
        <ion-icon ios="ios-search" md="md-search"></ion-icon>
      </button>
      <button ion-fab icon-only (click)="clean()">
        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>