page-mapa {
    ion-content{
        background:rgb(229, 227, 223);
        #mapa_canvas {
            width: 100%;
            height: 100%;
            position: fixed!important;
            top: 0px;
            left: 0px;
           transition: opacity 150ms ease-in;
          display: block;
          &.show-map{
            opacity: 1;
          }
        }
        #botones{
            margin-left: 50%;
            position: relative;
        }
      }
}
