<!--
  Generated template for the BusquedaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Buscar</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h2>Buscar</h2>

  <ion-item>
    <ion-input placeholder="Ingrese el lugar" [(ngModel)]="place" type="text"></ion-input>
  </ion-item>
  <button ion-button icon-only (click)="search()">
      <ion-icon ios="ios-search" md="md-search"></ion-icon>
  </button>
  <ion-item *ngFor="let place of places">
    <ion-label (click)="setPlace(place)">{{place.formatted_address}}</ion-label>
  </ion-item>

</ion-content>