<!--
  Generated template for the VehiculoPageModal page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  <ion-title>Buscar vehiculos</ion-title>
</ion-navbar>
</ion-header>


<ion-content padding>
  <p>Seleccione el modelo</p>
    <ion-item *ngFor="let vehicule of vehicules"  >
        <ion-label (click)="details(vehicule)">{{vehicule.nombre}}</ion-label>
    </ion-item>
</ion-content>
