<!--
  Generated template for the MyvehiculesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis vehiculos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <p>Agruegue mas vehiculos o borre los que no necesita</p>
  <ion-item *ngFor="let vehicule of vehicules">
    <ion-label>{{vehicule.vehiculo.nombre}}</ion-label>
    <ion-checkbox (ionChange)="datachanged(vehicule.objectId, $event)"></ion-checkbox>
    <button ion-button item-start (click)="details(vehicule)">
        <ion-icon ios="ios-open" md="md-open"></ion-icon>
    </button>
  </ion-item>
  <ion-fab bottom right>
    <button ion-fab (click)="add()"> <ion-icon ios="ios-add" md="md-add"></ion-icon></button>
    <button ion-fab (click)="delete()">  <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
    </button>
  </ion-fab>
  
</ion-content>