<ion-menu [content]="content">
    <ion-content padding>
           <ion-list>
                <button ion-item menuClose (click)="openPage(mapaPage)">
                        Mapa
                    </button>
                    <button ion-item menuClose (click)="openPage(vehiculoPage)">
                        Mis Vehiculos
                    </button>
                    <button ion-item menuClose (click)="openPage(perfilPage)">
                           Perfil
                    </button>
    
           </ion-list>
    </ion-content>
</ion-menu>
<ion-nav  [root]="rootPage" #content></ion-nav>
