<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <header>
    <img [src]= "perfil.picture">
    <h1>{{perfil.first_name + " " + perfil.last_name}}</h1>
    <h3>{{perfil.email}}</h3>
  </header>
</ion-content>
