page-perfil {

    ion-content{
        background: linear-gradient(270deg, #0dae85, #1479bd);
        background-size: 400% 400%;
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;
        @-webkit-keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @-moz-keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}    
        }
        @keyframes AnimationName { 
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        }
    header{
        text-align: center;
        color: white;
        font-family: sans-serif;
        img{
            border-radius: 50%;
            max-width: 35%;
        }
    }
}
