<!--
  Generated template for the ResultsDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Resultados</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h2>{{vehicule.nombre}}</h2>
  <div>
    <p>
      <b>Consumo por kilometro (ecovehiculos):</b> {{vehicule.rendimientoPorLitro}}</p>
    <p>
      <b>Transmision</b> {{vehicule.transmision}}</p>
    <p>
      <b>Combustible</b> {{vehicule.combustible}}</p>
    <p>
      <b>Año</b> {{vehicule.ano}}</p>
    <p>
      <b>NOX:</b> {{vehicule.emisionNOX}}</p>
  </div>
  <div>
    <h3>Resultados:</h3>
    <p>Kilometros recorridos: {{calculo.distancia}}</p>
    <p>
      <b>Consumo ecovehiculos:</b>{{calculo.consumoEco}}</p>
    <p>
      <b>Consumo promedio:</b>{{calculo.consumoPromedio}}</p>
    <p>
      <b>Consumo personalizado:</b>{{calculo.consumoPersonalizado}}</p>
  </div>
  <ion-fab bottom right>
    <button ion-fab (click)="add()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
    </ion-fab>
</ion-content>