page-login {
    min-height: 100%;
    position: relative;
    ion-content{
        background: linear-gradient(270deg, #0dae85, #1479bd);
background-size: 400% 400%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
            div{
                header{
                    text-align: center;
                    color: white;
                    h1{
                        font-weight: 300;
                        font-size: xx-large
                    }
                }
                footer{
                    padding-top: 20%;
                    h3{
                        font-size: small;
                        text-align: center;
                        color: white;
                    }
                }
                margin:0 auto;
                padding-top: 15%;
            }
    }
}



