<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <div>
    <header>
      <h1>Gas Route</h1>
      <h2>Iniciar sesión</h2>
      <button (click)="login()" ion-button color="dark">Login with Uber</button>
    </header>
    <footer>
      <h3>2018 - V 1.0.0</h3>
    </footer>
  </div>

</ion-content>