<!--
  Generated template for the ResultsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Resultados</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <h2>Resultados</h2>
    <ion-item *ngFor="let vehicule of vehicules">
        <ion-label (click)="changeVehiculo(vehicule)">{{vehicule.vehiculo.nombre}}</ion-label>
    </ion-item>
</ion-content>