<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Buscar vehiculos</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <p>Seleccione los parametros para realizar la búsqueda de automoviles</p>
    <ion-item>
        <ion-label>Marca</ion-label>
        <ion-select [(ngModel)]="currentMarca" name="marcaSelect" (ionChange)='changeMarca()'>
            <ion-option *ngFor="let marca of marcas" [value]="marca">{{marca.text}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Modelo</ion-label>
        <ion-select [(ngModel)]="currentModelo" name="modeloSelect" (ionChange)='changeModelo()'>
            <ion-option *ngFor="let modelo of modelos" [value]="modelo">{{modelo.text}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Año</ion-label>
        <ion-select [(ngModel)]="currentAno" name="anoSelect">
            <ion-option *ngFor="let ano of anos" [value]="ano">{{ano.text}}</ion-option>
        </ion-select>
    </ion-item>
    <div id="busquedabotones">
        <button ion-button icon-only (click)="find()">
            <ion-icon ios="ios-search" md="md-search"></ion-icon>
        </button>
    </div>

</ion-content>